@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif,"Cinzel";
  /* line-height: 1.6; */
  /* color: #000; */
  background-color: #000;
  height: 100vh;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section {
  margin-top: 40px;
  height: 200px;
}

.logo {
  height: 180px;
  width: 343px;
}

.nav-menu {
  display: flex;
  width: 100%;
  background-color: #ddbf80;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  margin-top: 50px;
}

.nav-menu a {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  color: #222;
  border-right: 2px solid #000;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Cinzel;
  font-size: 20px;
  font-weight: normal;
  background: none;
  box-sizing: border-box;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu a:last-child {
  border-right: none;
}
.description{
    text-align: center;
    padding-top: 30px;
    color:  #FFFFFF;
    background-color: #000;

}
.description h2{
    font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 24px;

line-height: 100%;
letter-spacing: 0%;
margin-bottom: 20px;
}
.description .first-line{
    font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;

}
.description .sec-line{
    font-family: Plus Jakarta Sans;
font-weight: 700;
font-style: Italic;
font-size: 24px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin: auto;
margin-bottom: 50px;
}

.image-info {
  display: flex;
  gap: 20%;
  /* text-align: end; */
  margin-bottom: 90px;
   /* max-width: 1445px; */
   
  
}
.container{
    position: relative;
    width: 100%;
     max-width: 421px; 
    height: 281px;
    margin-bottom: 90px ;
   
}

.image-info .reverse{
  margin-left: 0;
}
.image-info .reverse .container{
   position: relative;
    width: 100%;
     max-width: 421px;
    height: 281px;
    margin-bottom: 90px ;
    margin-left: 40px;
}
.child-1{
    position: absolute;
    width: 421px;
    height: 281px;
    
}
.child-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);*/
} 
.child-2{
    position: absolute;
    width: 443px;
    height: 296px;
    top: 55%;
    left: 45%;
     /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
    
    
}
.child-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-info {
  display: flex;
  align-items: right;
  justify-content: right;
  /* gap: 30px; */
  padding: 0px;
  flex-wrap: wrap; /* Enables wrapping for mobile */
    color: #FFFFFF;
  width: 600px;
  height: 400px;

  font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
letter-spacing: 0%;
text-align: right;
}
.image-info .services-info h3{
  text-align: center;
}
.image-info .services-info p{
  font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
letter-spacing: 0%;

}

.btn{
  width: 433px;
height: 47px;

opacity: 1;
top: 1033px;
left: 887px;
border-radius: 30px;
border-width: 2px;
 background: #DDBF80;
border: 2px solid #DDBF80;
box-shadow: 0px 4px 4px 0px #00000040;

 font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
animation-duration: 0ms;
margin:20px auto;


}
/* .image-info{display: flex;align-items: center;
  justify-content: space-between;
  gap: 20px;} */
.image-info .reverse{
  /* flex-direction: row-reverse; */
  display: flex;
  gap: 50%;
  overflow: hidden;
  
  /* margin: 90px; */
}

.image-info .services-info h3{
  font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 24px;

line-height: 100%;
letter-spacing: 0%;

text-align: center;

}
/* Footer */
.footer-top {
  background: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  padding-bottom: 80px;
  
}
.footer-top h2{
font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 30px;
text-transform: uppercase;
line-height: 100%;
/* letter-spacing: 0%; */
margin-bottom: 30px;
  

}
.footer-top p{

  font-family: 'Plus Jakarta Sans';
font-weight: 400;
font-style: Regular;
font-size: 20px;

max-width: calc(100% - 80px);
margin:0 auto;
line-height: 200%;
letter-spacing: 2%;
text-align: center;

  
}


.footer-bottom{
  text-align: center;
 padding: 30px;
  background-color: #DDBF80;
  font-size: 23px;
}
.top-row {
   display: flex;
  justify-content: space-between; /* equal spacing */
  align-items: center;
  padding: 0 40px;
  text-align: center;
  font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 16px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
.center-text {
  flex: 1;
  text-align: center;
}

.top-row p {
  flex: 1; /* each takes equal width */
  margin: 0;
}
/* Center second row */
.bottom-row-text {
  text-align: center;
  text-transform: uppercase; /* margin-top: 50px;
  font-weight: 700; */
  margin-top: 40px;
  font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 16px;

line-height: 100%;
letter-spacing: 0%;

}
/* ================= Responsive Styles ================= */
@media(max-width:1638px){
  .nav-menu{
    width: 150%;
  }
  .footer-bottom{
    width: 150%;
  }
  .image-info {
  display: flex;
  gap: 20%;
  /* text-align: end; */
  margin-bottom: 90px;
   /* max-width: 1445px; */
   
  
}
.container{
    position: relative;
    width: 100%;
     max-width: 321px;
    
    height: 281px;
    margin-bottom: 90px ;
   
}
/* .image-info .services-info p{
   text-align: left;
  left: 80px;
}
.image-info .reverse .services-info p{
  text-align: left;
  right: 80px;
} */
.image-info .reverse{
  margin-left: 0;
}
.image-info .reverse .container{
   position: relative;
    width: 100%;
     max-width: 421px;
    height: 281px;
    margin-bottom: 90px ;
    margin-left: 40px;
}
.child-1{
    position: absolute;
    width: 421px;
    height: 281px;
    
}
.child-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);*/
} 
.child-2{
    position: absolute;
    width: 443px;
    height: 296px;
    top: 55%;
    left: 45%;
     /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
    
    
}
.child-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-info {
  display: flex;
  align-items: right;
  justify-content: right;
  /* gap: 30px; */
  padding: 0px;
  flex-wrap: wrap; /* Enables wrapping for mobile */
    color: #FFFFFF;
  width: 600px;
  height: 400px;

  font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
letter-spacing: 0%;
text-align: right;
}
.image-info .services-info h3{
  text-align: center;
}
.image-info .services-info p{
  font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
letter-spacing: 0%;

}
/* .services-info{
  display: flex;
  flex-direction: column;


  margin-right: 30px;
  align-items: end;
  text-align: right;
   max-width: 900px;
    align-items: left;
  justify-content: left;
  text-align: left;
 
} */
.btn{
  width: 433px;
height: 47px;

opacity: 1;
top: 1033px;
left: 887px;
border-radius: 30px;
border-width: 2px;
 background: #DDBF80;
border: 2px solid #DDBF80;
box-shadow: 0px 4px 4px 0px #00000040;

 font-family: Plus Jakarta Sans;
font-weight: 300;
font-style: Light;
font-size: 20px;

line-height: 32px;
animation-duration: 0ms;
margin:20px auto;


}
/* .image-info{display: flex;align-items: center;
  justify-content: space-between;
  gap: 20px;} */
.image-info .reverse{
  /* flex-direction: row-reverse; */
  display: flex;
  gap: 50%;
  overflow: hidden;
  
  /* margin: 90px; */
}


.image-info .services-info h3{
  font-family: Cinzel;
font-weight: 700;
font-style: Bold;
font-size: 24px;

line-height: 100%;
letter-spacing: 0%;

text-align: center;

}

}
/* ---------------------------------- */
@media (max-width: 1150px) {
  .image-info,
  .image-info.reverse {
    flex-direction: column;
    gap: 40px;
    margin: 40px 20px;
    align-items: center;
  }

  .services-info {
    width: 90%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .container,
  .child-1,
  .child-2 {
    width: 90% !important;
    height: auto !important;
    position: relative;
    margin: auto;
  }

  .child-2 {
    top: 30%;
    left: 0;
  }

  .btn {
    width: 80%;
    height: auto;
    padding: 10px;
    font-size: 18px;
  }
/* 
  .top-row {
    flex-direction: column;
    gap: 10px;
  } */
}

@media (max-width: 768px) {
  /* .logo {
    width: 250px;
    height: auto;
  }

  .nav-menu {
    flex-direction: column;
    gap: 10px;
  }

  .description h2,
  .description .first-line,
  .description .sec-line {
    font-size: 18px;
    padding: 0 10px;
  } */

  .services-info p {
    font-size: 16px;
    line-height: 26px;
  }

  /* .footer-top h2 {
    font-size: 22px;
  }

  .footer-top p,
  .footer-bottom {
    font-size: 14px;
  }

  .bottom-row-text {
    font-size: 14px;
  } */
}

@media (max-width: 480px) {
  .btn {
    font-size: 16px;
    padding: 8px;
  }

  /* .nav-menu a {
    font-size: 16px;
    padding: 10px 0;
  }

  .description h2 {
    font-size: 16px;
  } */

  .services-info h3 {
    font-size: 20px;
  }
}
@media(max-width:1390px){
  .image-info{
  display: flex;
  width: 100%;
  gap: 20%;
  /* text-align: end; */
  margin: 90px;
  
}
.container{
    position: relative;
    width: 100%;
     max-width: 421px;
    height: 281px;
    margin-bottom: 190px ;
   
}

}